@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

html {
    font-size: 20px;
}

body {
    background: white;
    transition: background-color 600ms;
}

.leedle-gameplay-container table {
    border-collapse: separate;
    border-spacing: 0.25rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.leedle-gameplay-container th{
    border: 2px solid lightgrey;
    width: 3rem;
    height: 3rem;

    font-size: 40px;
}

.keyboard_row {
    width: 50%;
    margin: auto;
    text-align: center;
}

.keyboard_row button {
    width: 2rem;
    height: 2.5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 20px;

    font-family: 'Inclusive Sans', sans-serif;
    color: black;
}

/* Nightmode toggle styles */
.toggle:before {
    content: '☀️';
}

.toggle.active:before {
    content: '🌒';
}

.toggle-label {
    color: #333; 
  }
  
.nightToggle#nightToggle:not(:checked) + .toggle-label::after {
content: "☀️";
}

/* Custom checked label text */  
.nightToggle#nightToggle:checked + .toggle-label::after {
content: "🌒";
}

.dark {
    background: #121213
}

.dark-letters {
    color: white;
}

.nightToggle {
opacity: 0;
position: absolute; 
}

.toggle-label {
display: inline-block;
padding: 5px 10px;
font-size: 50px;
border-radius: 4px;
}

.toggle-label::before {
margin-right: 5px; 
}