.leedle_header {
    width: 100%;
    text-align: center;
}

.leedle_grid_container {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(6, 75px);

    width: 100%;
    text-align: center;

    justify-content: center;
}

.leedle_grid_container div {
    border: 1px solid black;
}

.leedle_letter_top, .leedle_letter_bot {
    display: grid;
    grid-template-columns: repeat(10, 75px);
    grid-template-rows: 75px;

    width: 100%;
    justify-content: center;
}

.leedle_letter_mid {
    display: grid;
    grid-template-columns: repeat(9, 75px);
    grid-template-rows: 75px;

    width: 100%;
    justify-content: center;
}

.letter {
    border: 1px solid black;
}